{$SITE_ADDRESS:localhost} {
    encode zstd gzip
    @backend path /api/* /docs /docs/* /openapi.json /redoc /oauth2-redirect
    handle @backend {
        reverse_proxy api:8000
    }
    handle {
        root * /srv
        try_files {path} /index.html
        file_server
    }
}
